<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.ars.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>enquiry</servlet-name>
    <servlet-class>com.ars.controller.EnquiryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enquiry</servlet-name>
    <url-pattern>/enquiryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>offers</servlet-name>
    <servlet-class>com.ars.controller.OffersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>offers</servlet-name>
    <url-pattern>/offersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>passengers</servlet-name>
    <servlet-class>com.ars.controller.PassengersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passengers</servlet-name>
    <url-pattern>/PassengersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payment</servlet-name>
    <servlet-class>com.ars.controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/paymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>com.ars.controller.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>services</servlet-name>
    <servlet-class>com.ars.controller.ServicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/servicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>apartments</servlet-name>
    <servlet-class>com.ars.controller.ViewApartmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>apartments</servlet-name>
    <url-pattern>/viewApartmentsServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RequestLoginServlet</servlet-name>
    <servlet-class>com.ars.controller.RequestLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestLoginServlet</servlet-name>
    <url-pattern>/RequestLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VolunteerLoginServlet</servlet-name>
    <servlet-class>com.ars.controller.VolunteerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolunteerLoginServlet</servlet-name>
    <url-pattern>/VolunteerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestorProfileServlet</servlet-name>
    <servlet-class>com.ars.controller.RequestorProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestorProfileServlet</servlet-name>
    <url-pattern>/RequestorProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VolunteerProfileServlet</servlet-name>
    <servlet-class>com.ars.controller.VolunteerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolunteerProfileServlet</servlet-name>
    <url-pattern>/VolunteerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.ars.controller.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestorDetailsServlet</servlet-name>
    <servlet-class>com.ars.controller.RequestorDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestorDetailsServlet</servlet-name>
    <url-pattern>/RequestorDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContributorDetailsServlet</servlet-name>
    <servlet-class>com.ars.controller.ContributorDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContributorDetailsServlet</servlet-name>
    <url-pattern>/ContributorDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UniqueIdServlet</servlet-name>
    <servlet-class>com.ars.controller.UniqueIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UniqueIdServlet</servlet-name>
    <url-pattern>/UniqueIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VDeleteServlet</servlet-name>
    <servlet-class>com.ars.controller.VDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VDeleteServlet</servlet-name>
    <url-pattern>/VDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TotalFundsServlet</servlet-name>
    <servlet-class>com.ars.controller.TotalFundsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalFundsServlet</servlet-name>
    <url-pattern>/TotalFundsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleEventServlet</servlet-name>
    <servlet-class>com.ars.controller.ScheduleEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleEventServlet</servlet-name>
    <url-pattern>/ScheduleEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleEvent1Servlet</display-name>
    <servlet-name>ScheduleEvent1Servlet</servlet-name>
    <servlet-class>com.ars.controller.ScheduleEvent1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleEvent1Servlet</servlet-name>
    <url-pattern>/ScheduleEvent1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleEventServlet1</servlet-name>
    <servlet-class>com.ars.controller.ScheduleEventServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleEventServlet1</servlet-name>
    <url-pattern>/ScheduleEventServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LVolunteerProfileServlet</display-name>
    <servlet-name>LVolunteerProfileServlet</servlet-name>
    <servlet-class>com.ars.controller.LVolunteerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LVolunteerProfileServlet</servlet-name>
    <url-pattern>/LVolunteerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LVolunteerLoginServlet</display-name>
    <servlet-name>LVolunteerLoginServlet</servlet-name>
    <servlet-class>com.ars.controller.LVolunteerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LVolunteerLoginServlet</servlet-name>
    <url-pattern>/LVolunteerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleEventServlet2</display-name>
    <servlet-name>ScheduleEventServlet2</servlet-name>
    <servlet-class>com.ars.controller.ScheduleEventServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleEventServlet2</servlet-name>
    <url-pattern>/ScheduleEventServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReqStatusServlet</servlet-name>
    <servlet-class>com.ars.controller.ReqStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqStatusServlet</servlet-name>
    <url-pattern>/ReqStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVAccountServlet</display-name>
    <servlet-name>DeleteVAccountServlet</servlet-name>
    <servlet-class>com.ars.controller.DeleteVAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVAccountServlet</servlet-name>
    <url-pattern>/DeleteVAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountsDao</display-name>
    <servlet-name>DeleteAccountsDao</servlet-name>
    <servlet-class>com.ars.dao.DeleteAccountsDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountsDao</servlet-name>
    <url-pattern>/DeleteAccountsDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRAccountServlet</display-name>
    <servlet-name>DeleteRAccountServlet</servlet-name>
    <servlet-class>com.ars.controller.DeleteRAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRAccountServlet</servlet-name>
    <url-pattern>/DeleteRAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
   
    <servlet-name>TreesPlanted</servlet-name>
    <servlet-class>com.ars.controller.TreesPlanted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TreesPlanted</servlet-name>
    <url-pattern>/TreesPlanted</url-pattern>
  </servlet-mapping>
</web-app>